{% extends "base.html" %}
{% block content %}


<p><a href="/posts/create">Create</a></p>

{% for post in posts %}
<article>
	<section>
		<h4><a href="/posts/get/{{ post.id }}">{{ post.title|upper }}</a></h2>
		
        <p>{{ post.body|safe|truncatewords:10 }}</p>
		<small>
            on {{ post.date }}
        </small>
	</section>
</article>
{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}

